body {
    font-family: Arial, sans-serif;
    font-size: 100%;
    color: #333;
    margin: 0 auto;
    background: url(Sources/BACKGROUND.jpg) top repeat #fff;
}

.zsidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.zsidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.zsidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.active{
    background-color: black;
}

.zsidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#zmain {
    /*transition: margin-left .5s;*/
}
/*Header Bar */
.zhd-bar {
    background-color: dodgerblue;
    width: 100%;
    height: 2.5em;
    display: flex;
    -webkit-box-shadow: 1px 0.3em 1em -2px rgba(0,0,0,0.63);
    -moz-box-shadow: 1px 0.3em 1em -2px rgba(0,0,0,0.63);
    box-shadow: 1px 0.3em 1em -2px rgba(0,0,0,0.63);
}

.zhd-bar img {
    max-width: 6%;
}

.zmenu-btn {
    font-size:30px;
    cursor:pointer;
    color: white;
}

@media screen and (max-height: 450px) {
  .zsidenav {padding-top: 15px;}
  .zsidenav a {font-size: 18px;}
}

.profile ,
.resources,
.transact,
.quest,
.achieve,
.achieve1,
.achieve2,
.achieve3,
.item-all,
.a1gold,
.a1bronze,
.a1silver,
.control-rsrc{
    display: block;
    float: left;
    text-decoration: none;
    margin-top: 0.5%;
    margin-left: 25%;
    width: 50%;
    border: grey 0.2em solid;
    border-radius: 0.2em;
    padding: 0.1em;
    background-color: white;
}
.profile div {
    float: left;
}
.prof-pic  {
    width: 20%;
}
.prof-pic img{
    max-width: 100%;
    align-content: center;
}
.prof-det {
    max-width:  45%;
    padding: 1em;
}

.prof-det p{
    margin: 0;
    font-size: 1.2em;
}

#name {
    font-weight: bold;
    font-size: 2em;
}

.resources p {
    margin: 0;
}

.resources img,
.control-rsrc span img{
    max-width: 20px;
}
.items {
    max-width: 50%;
    margin-left: 25%;
}

.items img {
    
}


/*Control Layou*/
.control-rsrc span {
    max-width: 20%;
}


.sub {
    max-width: 20px;
}

.login-main{
    margin-top: 5%;
    max-width: 30%;
    margin-left: 35%;
}

.login_logo img{
    max-width: 100%;
    
}

.tr-cont {
    max-width: 80%;
    margin-left:10%;    
}

.tr-cont p {
    font-weight: bold;
    font-size: 1.5em;
}
    



.transact-table {
    max-width: 50%;
    margin-left: 25%;
}

.transact-table table,
.transact-table  th, 
.transact-table  tr, 
.transact-table  td {
   border: 1px solid black;
   background-color: white;
}

.login-main form {
    border: grey 0.2em solid;
    margin-top: 5%;
    background-color: white;
}

.form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
            color: #017572;
         }
         
         .form-signin .form-signin-heading,
         .form-signin .checkbox {
            margin-bottom: 10px;
         }
         
         .form-signin .checkbox {
            font-weight: normal;
         }
         
         .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
         }
         
         .form-signin .form-control:focus {
            z-index: 2;
         }
         
         .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-color:#017572;
         }
         
         .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-color:#017572;
         }
         





